.card-nota {
    width: 300px;
}

.card-nota-cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho {
    margin-top: 5px;
}

.shadow {
    margin: 10px;
    padding: 3px 5px 3px 10px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}